<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>详情页</title>
    {# 解除硬编码 #}
    {% load static from staticfiles %}
    {#<link rel="stylesheet" href="/static/css/models.css">#}
    <link rel="stylesheet" href="{% static '/css/models.css'%}">
</head>
<body>
    <div class="container">
        <h2>书名:{{books.bname}}</h2>
        <ul>
            <h3>角色及简介</h3>
            {% for hero in books.heroinfo_set.all %}
                {#<li><a href="/booklist/infoss/{{hero.id}}">{{hero.hname}}</a>-------------{{hero.hcontent}}</li>#}
                {# 去除硬编码 去除模块硬编码 #}
                <li><a href="{%url 'booklist:infoss' hero.id%}">{{hero.hname}}</a>-------------{{hero.hcontent}}</li>

            {% empty %}
                <h3>请添加角色</h3>
            {% endfor %}
        </ul>
        {#<a href="/booklist/list">返回列表页</a>#}
        <a href="{%url 'booklist:list'%}">返回列表页</a>
    </div>
</body>
</html>